<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div sec:authorize="isAnonymous()">
    <div th:replace="~{header-notSignedIn :: headerNotSignedIn}">navNotSignedIn</div>
</div>

<div class="container">
    <div class="col-md-6 offset-md-3 col-xs-12 d-flex justify-content-center">

        <div title="sign-in" style="color: green;">
            <h1>Sign In</h1>
        </div>

        <form th:action="@{/auth/login-form}" method="POST">

            <div th:if="${param.error}" class="alert alert-danger failed" role="alert">
                Invalid username and password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>
            <div class="container my-2 alert alert-danger" th:if="${error}">
                <span th:text="${error}"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control form-control-lg" type="text" name="username" placeholder="Username">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
            </div>
            <button type="reset" class="btn btn-primary">
                <a th:href="@{/auth/forget}" style="text-decoration: none; color: white">Reset Password</a>
            </button>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="submit" class="btn btn-primary">
                <a th:href="@{/auth/add}" style="text-decoration: none; color: white">Sign Up</a>
            </button>


        </form>
    </div>
</div>

</body>
</html>